# Default values for chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: ghcr.io/energinet-singularity/forecast-parser/energinet-singularity/forecast-parser
  pullPolicy: IfNotPresent
  tag: "1.1.4"

#Setup file-mover dependency first
forecastInputVolume: 
  persistentVolumeClaim:
    claimName: forecast-data-pvc

forecastDataVolume:
  accessMode: ReadWriteOnce
  size: 1G
  storageClass: standard

file-mover:
  folderMounts:
    input:
      enabled: true
      volume:
        emptyDir: {}
    output:
      enabled: true
      volume:
        persistentVolumeClaim:
          claimName: forecast-data-pvc
  podLabels:
    fm-forecast-parser: "S1"
  selectorLabels:
    fm-forecast-parser: "S1"
  affinity:
    podAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 1
        podAffinityTerm:
          labelSelector:
            matchExpressions:
              - key: forecast-fm-parser
                operator: In
                values:
                - S1
          topologyKey: "kubernetes.io/hostname"

#Specifying local variables
kafka:
  topic: weather-forecast-raw
  host: my-cluster-kafka-brokers
  port: 9092

ksql:
  host: kafka-cp-ksql-server
  port: 8088

#Debug: "TRUE"

podLabels:
  forecast-fm-parser: "S1"
selectorLabels:
  forecast-fm-parser: "S1"
affinity:
  podAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: fm-forecast-parser
              operator: In
              values:
              - S1
        topologyKey: "kubernetes.io/hostname"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
nodeSelector: {}
tolerations: []
resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi
